@charset "UTF-8";

:root{
    --color-black: #1b1b1b;
    --color-white: #fff;
    --color-green: #00c9c9;
    --color-rojo: #e30613;
    --color-amarillo: #ffce00;
    --color-blackOne: #1c1c1c;
    --color-blue: #84dcf4;
    --color-red: #fc2454;
    --color-yellow: #fca404;
    --color-yellowTwo: #e4ec8c;
    --color-blueTwo: #049DD9;
    --color-face: #3b5998;
    --color-instagram: #8134af;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    clear: both;
    content: '';
    display: table;
    z-index: 999;
    position: sticky;
    top: 0% ;
}

.contenedor{
    width: 100%;
    max-width: 100%;
    background-color: gainsboro;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, auto);

    grid-template-areas: "header header header"
                         "banner banner banner"
                         "title1 title1 title1"
                         "producto1 producto2 producto3"
                         /* "title2 title2 title2" */
                         "servicios1 servicios2 servicios3"
                         "servicios4 servicios5 servicios6"
                         "servicios7 servicios8 servicios9"
                         /* "servicios10 servicios11 servicios12" */
                         "title3 title3 title3"
                         "clientes1 clientes2 clientes3"
                         "clientes4 clientes5 clientes6"
                         "clientes7 clientes8 clientes9"
                         "clientes10 clientes11 clientes12"
                         "title2 title2 title2"
                         "serviciosV serviciosV serviciosV2"
                         "title4 title5 title5"
                         "contacto1 contacto2 contacto2"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .footer {
    background-color: #e4ec8c;
    padding: 0px;
}

.contenedor .header{
    background: #2e3192; background: -moz-linear-gradient(to right,  #2e3192 1%,#1bffff 100%); background: -webkit-linear-gradient(to right,  #2e3192 1%,#1bffff 100%); background: linear-gradient(to right,  #2e3192 1%,#1bffff 100%);;
    color: var(--color-white);
    grid-area: header;
}

.header{
    height: 10vh;
}

.header img{
    width: 10%;
    margin-top: 22px;
    margin-left: 30px;
}

.navbar{
    width: 40%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
}

.navbar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: var(--color-white);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover:before{
    width: 100%;
}


.contenedor .banner{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 530px;
    grid-area: banner;
}

.banner{
    width: 100%;
    height: 85vh;
    margin: auto;
    background-size: 100% 100%;
    animation: banner 16s infinite;
}

@keyframes banner{
    0%, 20%{
        background-image: url(/img/banner1.png);
    }
    25%, 40%{
        background-image: url(/img/banner2.jpg);
    }
    45%, 65%{
        background-image: url(/img/banner3.jpeg);
    }
    70%, 100%{
        background-image: url(/img/banner4.jpg);
    }
}

.contenedor .title1{
    background-color: gainsboro;
    height: 160px;
    grid-area: title1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title1{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-blackOne);
    background-color: gainsboro;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor .producto1{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: producto1;
}

.producto1 img{
    width: 100%;
    height: 320px;
}

.producto1 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.producto1 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .producto2{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: producto2;
}

.producto2 img{
    width: 100%;
    height: 320px;
}

.producto2 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.producto2 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}

.contenedor .producto3{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: producto3;
}

.producto3 img{
    width: 100%;
    height: 320px;
}

.producto3 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.producto3 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .servicios1{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios1;
}

.servicios1 img{
    width: 100%;
    height: 320px;
}

.servicios1 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios1 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .servicios2{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios2;
}

.servicios2 img{
    width: 100%;
    height: 320px;
}

.servicios2 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios2 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .servicios3{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios3;
}

.servicios3 img{
    width: 100%;
    height: 320px;
}

.servicios3 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios3 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .servicios4{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios4;
}

.servicios4 img{
    width: 100%;
    height: 320px;
}

.servicios4 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios4 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .servicios5{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios5;
}

.servicios5 img{
    width: 100%;
    height: 320px;
}

.servicios5 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios5 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}


.contenedor .servicios6{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios6;
}

.servicios6 img{
    width: 100%;
    height: 320px;
}

.servicios6 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios6 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
}

/* .contenedor .servicios7{
    background-color: var(--color-red);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicios7;
}

.servicios7 img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.servicios7 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios7 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
} */

/* .contenedor .servicios8{
    background-color: var(--color-blueTwo);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicio8;
}

.servicios8 img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.servicios8 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios8 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
} */

/* .contenedor .servicios9{
    background-color: var(--color-blueTwo);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicio9;
}

.servicios9 img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.servicios9 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios9 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
} */

/* .contenedor .servicios10{
    background-color: var(--color-blueTwo);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicio10;
}

.servicios10 img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.servicios10 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios10 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
} */

/* .contenedor .servicios11{
    background-color: var(--color-blueTwo);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Barlow Condensed', sans-serif;
    grid-area: servicio11;
}

.servicios11 img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.servicios11 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios11 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.5rem;
} */

/* .contenedor .servicios12{
    background-color: var(--color-blueTwo);
    color: var(--color-white);
    height: 380px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 25px;
    font-family: 'Poppins', sans-serif;
    grid-area: servicio12;
}

.servicios12 img{
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.servicios12 img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}

.servicios12 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 10px;
    font-size: 1.2rem;
} */

.contenedor .title2{
    background-color: gainsboro;
    height: 160px;
    grid-area: title2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-blackOne);
    background-color: gainsboro;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor .serviciosV{
    background-image: url(./img/fondo2.png);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: serviciosV;
}

.serviciosV img{
    width: 70%;
    height: 320px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-left: 120px;
    border-radius: 4px;
}

.serviciosV img:hover{
    box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
}


/* .serviciosV video{
    width: 90%;
    height: 70%;
    margin: 70px 30px;
} */


.contenedor .serviciosV2{
    background-color: brown;
    color: var(--color-blackOne);
    height: 450px;
    grid-area: serviciosV2;
}

.serviciosV2 .ul-service{
    margin-left: 60px;
    margin-top: 35px;
    color: var(--color-blackOne);
}

.serviceli{
    margin-top: 22px;
    text-align: left;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    color: var(--color-white);
}

.serviciosV2 h2{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    color: var(--color-white);
}

/* .contenedor .title3{
    background-color: gainsboro;
    height: 160px;
    grid-area: title3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
} */

/* .title3{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-blackOne);
    background-color: gainsboro;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* .contenedor .clientes1{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes1;
}

.contenedor .clientes1 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes2{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes2;
}

.contenedor .clientes2 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes3{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes3;
}

.contenedor .clientes3 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}


.contenedor .clientes4{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes4;
}

.contenedor .clientes4 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes5{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes5;
}

.contenedor .clientes5 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes6{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes6;
}

.contenedor .clientes6 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}


.contenedor .clientes7{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes7;
}

.contenedor .clientes7 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes8{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes8;
}

.contenedor .clientes8 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes9{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes9;
}

.contenedor .clientes9 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}


.contenedor .clientes10{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes10;
}

.contenedor .clientes10 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes11{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes11;
}

.contenedor .clientes11 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.contenedor .clientes12{
    background-color: gainsboro;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    grid-area: clientes12;
}

.contenedor .clientes12 img{
    width: 50%;
    height: 50%;
    border-radius: 4px;
} */


.contenedor .title4{
    background-color: var(--color-blackOne);
    height: 160px;
    margin-top: 0px;
    grid-area: title4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title4{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    font-size: 1.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-white);
    background-color: gainsboro;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor .contacto1{
    background-color: var(--color-blackOne);
    height: 200px;
    text-align: center;
    justify-content: center;
    border-bottom: solid #fff;
    grid-area: contacto1;
}

.contacto1 ul li{
    display: inline-block;
    margin: 10px 5px;
    width: 95px;
    height: 60px;
    padding: 30px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.contacto1 ul li a{
    display: block;
    padding: 8px;
    background-color: #fff;
    color: #4B4A4A;
    font-size: 1.2rem;
    border-radius: 10%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
    transition: .2s;
}



.contacto1 ul li a:hover{
    transform: translateY(6px) scale(1.1);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .7);
    filter: none;
    color: #fff;
}

.contacto1 ul li .facebook:hover{
    background: var(--color-face);
}
.contacto1 ul li .instagram:hover{
    background: var(--color-instagram);
}

.contenedor .title5{
    background-color: var(--color-blackOne);
    height: 160px;
    margin-top: 0px;
    grid-area: title5;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title5{
    text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
    font-size: 1.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-white);
    background-color: gainsboro;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedor .contacto2{
    background-color: var(--color-blackOne);
    height: 200px;
    color: var(--color-white);
    text-align: center;
    justify-content: center;
    border-bottom: solid #fff;
    grid-area: contacto2;
}

.contacto2{
    width: 100%;
    height: 26vh;
    color: var(--color-white);
}


.contacto2 ul{
    margin-left: 10px;
    margin-top: 5px;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
}

.contacto2 ul li{
    padding: 5px;
}

.contenedor .footer{
    background-image: url(./img/fondo2.png);
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: footer;
}

footer{
    color: var(--color-white);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer p{
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar-footer{
    width: 30%;
}

.navbar-footer li{
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) and (max-width: 1004px) {
    .contenedor{
        grid-template-areas: "header header header"
                                "banner banner banner"
                                "title1 title1 title1"
                                "producto1 producto2 producto3"
                                /* "title2 title2 title2" */
                                "servicios1 servicios2 servicios3"
                                "servicios4 servicios5 servicios6"
                                "servicios7 servicios8 servicios9"
                                /* "servicios10 servicios11 servicios12" */
                                "title3 title3 title3"
                                "clientes1 clientes2 clientes3"
                                "clientes4 clientes5 clientes6"
                                "clientes7 clientes8 clientes9"
                                "clientes10 clientes11 clientes12"
                                "title2 title2 title2"
                                "serviciosV serviciosV serviciosV2"
                                "title4 title5 title5"
                                "contacto1 contacto2 contacto2"
                                "footer footer footer";
    }

    .header img{
        width: 15%;
        margin-top: 20px;
    }

    .navbar{
        width: 50%;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        float: right;
    }

    .serviceli{
        margin-top: 35px;
        text-align: left;
        font-size: 1.2rem;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .contenedor .serviciosV{
        background-image: url(./img/fondo2.png);
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        grid-area: serviciosV;
    }
    
    .serviciosV img{
        width: 70%;
        height: 320px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        margin-left: 80px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .serviciosV img:hover{
        box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
    }

    .serviciosV2 .ul-service{
        margin-left: 40px;
        margin-top: 45px;
        color: var(--color-blackOne);
    }
    
    .serviceli{
        margin-top: 22px;
        text-align: left;
        font-size: 0.8rem;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: bolder;
    }
    
    .serviciosV2 h2{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        margin-top: 40px;
        font-size: 1.6rem;
        text-align: center;
        font-family: 'Barlow Condensed', sans-serif;
    }

    
}


@media (min-width: 321px) and (max-width: 767px) {
    .contenedor{
        grid-template-areas: "header header header"
                                "banner banner banner"
                                "title1 title1 title1"
                                "producto1 producto1 producto1"
                                "producto2 producto2 producto2"
                                "producto3 producto3 producto3"
                                /* "title2 title2 title2" */
                                "servicios1 servicios1 servicios1"
                                "servicios2 servicios2 servicios2"
                                "servicios3 servicios3 servicios3"
                                "servicios4 servicios4 servicios4"
                                "servicios5 servicios5 servicios5"
                                "servicios6 servicios6 servicios6"
                                "servicios7 servicios8 servicios9"
                                /* "servicios10 servicios11 servicios12" */
                                "title3 title3 title3"
                                "clientes1 clientes2 clientes3"
                                "clientes4 clientes5 clientes6"
                                "clientes7 clientes8 clientes9"
                                "clientes10 clientes11 clientes12"
                                "title2 title2 title2"
                                "serviciosV serviciosV serviciosV"
                                "serviciosV2 serviciosV2 serviciosV2"
                                "title4 title4 title4"
                                "contacto1 contacto1 contacto1"
                                "title5 title5 title5"
                                "contacto2 contacto2 contacto2"
                                "footer footer footer";
    }

    .header{
        height: 15vh;
    }

    .header img{
        width: 20%;
        margin-top: 25px;
    }

    .navbar{
        display: none;
    }

    .title1{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        font-size: 1.3rem;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--color-blackOne);
        background-color: gainsboro;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .title2{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        font-size: 1.3rem;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--color-blackOne);
        background-color: gainsboro;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .title3{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        font-size: 1.3rem;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--color-blackOne);
        background-color: gainsboro;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .producto1 h2{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        margin-top: 10px;
        font-size: 1.3rem;
    }

    .producto2 h2{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        margin-top: 10px;
        font-size: 1.3rem;
    }

    .producto3 h2{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        margin-top: 10px;
        font-size: 1.3rem;
    }

    .serviceli{
        margin-top: 35px;
        text-align: left;
        font-size: 1rem;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .title4{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        font-size: 1.3rem;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--color-white);
        background-color: gainsboro;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .title5{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        font-size: 1.3rem;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--color-white);
        background-color: gainsboro;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .serviciosV img{
        width: 70%;
        height: 320px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        margin-left: 80px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .serviciosV img:hover{
        box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 40px var(--color-white);
    }

    .serviciosV2 .ul-service{
        margin-left: 40px;
        margin-top: 35px;
        color: var(--color-blackOne);
    }
    
    .serviceli{
        margin-top: 22px;
        text-align: left;
        font-size: 1rem;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: bolder;
    }
    
    .serviciosV2 h2{
        text-shadow: 0.05em 0.05em 0.1em rgb(77, 76, 76);
        margin-top: 40px;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Barlow Condensed', sans-serif;
    }

    
}